<div flex layout-align="start center" layout="column" class="color-bg-1 md-whiteframe-z1">

  <md-content>
    <md-list>
      <md-item ng-repeat="item in sidebar.right.feature.items">
        <md-item-content ui-sref="person/edit({uuid: item.uuid})" class="pointer" ui-sref-active="bg-grey-light" ui-sref="{{sidebar.right.feature}}/edit({uuid: item.uuid})" ng-claick="executeAction(item)">
          <div class="md-tile-left">
            <img ng-src="/assets/images/uploads/person/{{item.uuid}}.png" class="face" alt="{{item.attributes.person_data.name}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.attributes.person_data.name}}</h3>
            <h4>{{item.attributes.person_data.name}}</h4>
            <p>
              {{item.notes}}
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>


  <!--<div class="pointer md-whiteframe-z1" style="height:48px;margin-top:8px"  layout-align="center center" layout="row" ng-repeat="item in sidebar.right.items" ui-sref-active="bg-grey-light" ui-sref="{{sidebar.right.feature}}/edit({uuid: item.uuid})" ng-claick="executeAction(item)">

    <div flex="20" layout-align="center center" layout="row">
      <img src="/assets/images/uploads/person/{{item.uuid}}.png" class="img-responsive"/>
    </div>
    <div flex layout-align="start center" layout="row">
      <label layout="row" layout-align="start center" class="s-100 bold pointer">
        {{item.attributes.person_data.name}}
      </label>
    </div>

  </div>-->

</div>
