<md-button ng-if="type=='fab'" class="{{myClass}}" aria-label="{{label}}">
  <bt-icon icon="{{myIcon}}" size="{{myIconSize}}" color="{{myIconColor}}"></bt-icon>
</md-button>
<div ng-if="type=='icon'" style="width:{{mySize}}px;height:{{mySize}}px;border-radius:{{myBorderRadius}}px;" layout="row" layout-align="center center">
  <bt-icon layout="row" layout-align="center center" icon="{{myIcon}}" size="{{myIconSize}}" label="{{label}}" color="{{myIconColor}}"></bt-icon>
</div>
<md-button ng-if="type=='button'" class="{{myClass}}" aria-label="{{label}}" label="{{label}}">
  {{label}}
</md-button>
