<!--
<md-input-group  class="md-input-group-theme-purple  s-150 fill-horizontal text-left">
    <label for="{{id}}" class="fill-horizontal text-left"></label>assa
    <md-input id="{{id}}" ng-model="" type="{{type}}" class="fill-horizontal text-left"/>
</md-input-group>
-->
<md-text-float id="{{data.group+'_'+ data.description}}" label="{{'attributes.'+data.group+'.'+ data.description | translate}}" type="{{type}}" tab-next class="md-purple-theme fill-horizontal text-left" ng-model="ngModel"> </md-text-float>
