<div id="company-create"  class="fill" style="display:none;" layout="column" layout-align="center center">
  <div ng-if="type" class="md-whiteframe-z2 color-bg-1 col-xs-10 col-sm-6 col-md-4 col-lg-3 text-center p-15" layout="column" layout-align="center center">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 text-center m-t-15">
        <span class="s-150">Cadastro</span>
      </div>

    </div>
    <hr>
    <div class="row fill m-v-15" >
      <div class="col-xs-12" ng-repeat="attribute in data">
        <attr data="attribute" ng-model="attribute.value"></attr>
      </div>
    </div>
    <div class="row fill m-v-15">
      <div class="col-xs-6 text-left">
        <bt-button type="fab" label="Voltar" icon="glyphicon glyphicon-arrow-left" bt-class="c-white color-bg-4"  ng-click="back();"></bt-button>
      </div>
      <div class="col-xs-6 text-right">
        <bt-button type="fab" label="Cadastrar" ng-if="!creatingCompany" icon="glyphicon glyphicon-ok" bt-class="c-white color-bg-4"  ng-click="createCompany()"></bt-button>
        <md-progress-circular md-theme="purple" ng-if="creatingCompany" md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>

  </div>

  <div class="row fill" ng-if="!type" layout="column" layout-align="center center">
    <div class="row fill-horizontal">
      <div class="col-xs-8 col-xs-offset-2 md-whiteframe-z1 text-center p-15 color-bg-1" layout="column" layout-align="center center">
          <span class="s-150">Escolha a opcão</span>
      </div>
    </div>

    <div class="row m-t-60 fill-horizontal">
      <div ng-click="chooseType(item)" ng-repeat="item in types" class="col-xs-3 col-xs-offset-2 md-whiteframe-z1 text-center p-15 color-bg-1 pointer" layout="column" layout-align="center center">
          <span class="s-150">{{item.description}}</span>
      </div>
    </div>
  </div>




</div>
