html,
body {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: Lato;
}
label{
  margin-bottom:0px !important;
}
.pointer {
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.scrollable{
    overflow-y: auto !important
}

.fill-vertical {
    min-height: 100% !important;
    height: 100% !important;
}
.fill-horizontal {
    min-width: 100% !important;
    width: 100% !important;
}
.fill{
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
}
.pointer{
    cursor: pointer;
}
.border{
    border:1px #000 solid;
}
.list-none{
    list-style: none;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-1{
    background-image: url("../assets/images/background.gif");
}
.align-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.logo-text{
  margin-left:10px;font-size:48px;font-weight:bold;letter-spacing: 3px;color:#fff;font-family:neuropol;
}
md-input-group label{
  color:#781649 !important;
}
.img-responsive{
  max-width:100%;
  height:auto;
}
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  height:48px;
  margin: 10px;
}
.menu-right-arrow {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position:absolute;
  top:36px;
  left:10px;
  border-bottom: 22px solid white;
}
.relative {
  position:relative;
}
