<div id="login" flex-sm="80" flex-md="70" flex-lg="50" flex-gt-lg="40" class="md-whiteframe-z1 color-bg-1" layout="column" layout-align="start center">
  <div layout="row" flex>
    <img src="/assets/images/icon48.png" class="m-v-10" ng-click="stagingMode(3)"/>
    <label class="logo-text" >BEET</label>
  </div>
  <div layout="row" flex>
    <attr data="emailData" ng-model="emailData.value"></attr>
  </div>
  <div layout="row" flex>
    <attr data="passwordData" ng-model="passwordData.value"></attr>
  </div>
  <div layout="row" flex></div>

    <div class="col-xs-6 col-xs-offset-3 text-center m-t-15">

    </div>
  </div>
  <div class="row fill m-t-25" ng-if="rememberPasswordMode">
    <div class="col-xs-12 text-left">
      <span>Digite o endereço de e-mail que você utiliza para fazer login no Beet. Vamos lhe enviar instruções para redefinir sua senha.</span>
    </div>
  </div>
  <div class="row fill m-t-25" ng-if="signUpMode">
    <div class="col-xs-12 text-left">
      <span>Digite seu e-mail e senha para se cadastrar no Beet.</span>
    </div>
  </div>

  <div class="row fill m-v-15">
    <div class="col-xs-12">

    </div>
    <div class="col-xs-12" ng-if="!rememberPasswordMode">

    </div>
    <div class="col-xs-12" ng-if="signUpMode">
      <attr data="confirmPasswordData" ng-model="confirmPasswordData.value"></attr>
    </div>
  </div>

  <!--<div class="row fill m-v-15">
    <div class="col-xs-12">
      <attr data="emailData" ng-model="emailData.value"></attr>
    </div>
  </div>
  <div class="row fill m-v-15">
    <div class="col-xs-12" ng-if="!rememberPasswordMode">
      <attr data="passwordData" ng-model="passwordData.value"></attr>
    </div>
  </div>
  <div class="row fill m-v-15" ng-if="signUpMode">
    <div class="col-xs-12">
      <attr data="confirmPasswordData" ng-model="confirmPasswordData.value"></attr>
    </div>
  </div>-->

  <div class="row fill-horizontal m-v-15" hide>
    <div class="col-xs-8 text-right"  ng-if="!signUpMode && !rememberPasswordMode">
      <div class="row fill-horizontal" layout="column" layout-align="center start">
        <bt-button label="Cadastre-se" bt-class="color-grey s-80" ng-click="showSignUp()"></bt-button>
      </div>
      <div class="row fill-horizontal" layout="column" layout-align="center start">
        <bt-button label="Problemas com o login?"  bt-class="color-grey s-80"  ng-click="showRememberPassword()"></bt-button>
      </div>
    </div>
    <div class="col-xs-8 text-left" ng-if="signUpMode || rememberPasswordMode">
      <bt-button type="fab" label="Voltar" icon="glyphicon glyphicon-arrow-left" bt-class="c-black color-bg-2"  ng-click="showLogin()"></bt-button>
    </div>
    <div class="col-xs-4 text-right">
      <bt-button ng-if="!signUpMode && !rememberPasswordMode && !checkingLogin" type="fab" label="Entrar" icon="glyphicon glyphicon-ok" bt-class="c-white color-bg-4"  ng-click="checkLogin()"></bt-button>
      <md-progress-circular md-theme="purple" ng-if="checkingLogin" md-mode="indeterminate"></md-progress-circular>
      <bt-button ng-if="rememberPasswordMode" type="fab" label="Enviar" icon="glyphicon glyphicon-send" bt-class="c-white color-bg-4"  ng-click="sendPasswordLink()"></bt-button>
      <bt-button ng-if="signUpMode && !checkingLogin" type="fab" label="Cadastrar" icon="glyphicon glyphicon-plus" bt-class="c-white color-bg-4"  ng-click="signUp()"></bt-button>
    </div>
  </div>
</div>
