<div layout-align="start start" layout="column" flex class="fill-horizontal ">
  <div ng-if="mode=='list'" layout="row" flex layout-align="start start" class="fill" layout-wrap>

    <div layout="column" layout-align="start center" style="margin-top:8px;margin-left:8px" ui-sref="" flex="20" class="md-whiteframe-z2 pointer" ng-repeat="item in list">

      <div layout="column">
        <img src="/assets/images/uploads/person/{{item.uuid}}.png" />
      </div>
      <div layout="column" layout-align="center center" style="height:36px" class="color-bg-5 color-1 s-110 bold fill-horizontal">
        {{item.attributes.person_data.name}}
      </div>
    </div>

  </div>

  <div ng-if="mode=='edit'" layout="row" flex layout-align="start start" layout-margin layout-wrap class="fill">

    <div layout="column" style="width:128px" layout-align="start start" layout-margin >
      <div layout="column">
        <img src="/assets/images/uploads/person/{{selected}}.png" class="img-responsive"/>
      </div>
      <div layout="row" layout-align="start center" style="height:24px;" ng-click="setFocus(attribute.group+'_'+attribute.description)" class="pointer s-80 bold m-v-5 bg-grey-light fill-horizontal" ng-repeat="attribute in data.person_data">
        {{'attributes.person_data.' + attribute.description | translate }}
      </div>
    </div>
    <div layout="row" flex layout-wrap layout-margin class="md-whiteframe-z2">
      <attr layout="row" ng-repeat="attribute in data.person_data"  data="attribute" ng-model="attribute.value" flex="{{attribute.size}}"></attr>
    </div>

  </div>

  <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/load/app.html'">
  </div>
</div>
